In [1]:
import pandas as pd
import numpy as np
import re

### Praisemageddon

In [2]:
praisemageddon = pd.read_excel("data/Impact Hour Distribution analysis.xlsx", sheet_name="Praisemageddon", engine='openpyxl', header=0,  usecols="A,F").dropna()

In [3]:
import pickle

with open('outputs/names_dict.pickle', 'rb') as f:
    names_dict = pickle.load(f)

praisemageddon.loc[:,"Name"] = praisemageddon.loc[:,"Name"].map(names_dict)
praisemageddon['Name'] = praisemageddon['Name'].str.lower()

praisemageddon

                       Name     IH held
0                 zeptimusq  167.782983
1                 santigs67  167.782983
2                cranders71  167.782983
3               sembrestels  167.782983
4               ygganderson  167.782983
..                      ...         ...
455            annanna#4694    2.010623
456            mratsim#9204    2.010623
457              nickjplace    2.010623
458  monetaryplurality#6033    2.010623
459         mindmonkey#3630    2.010623

[459 rows x 2 columns]

### Total Impact Hours Results

In [4]:
net_hours = pd.read_excel("data/TEC Praise Quantification.xlsx", sheet_name="Total Impact Hours so far", engine='openpyxl', header=1, usecols="A:D").dropna(thresh=2).rename({'Impact Hours':'Final Net Impact Hours'},axis=1)

In [5]:
net_hours['Handle'] = net_hours['Handle'].str.lower()
net_hours.head(40)

             Handle  Final Net Impact Hours  Activated  Unnamed: 3
0         zeptimusq              686.601440  Activated  686.601440
1         santigs67              621.789072  Activated  621.789072
2       ygganderson              502.691508  Activated  502.691508
3        cranders71              418.671961  Activated  418.671961
4       sembrestels              380.123299  Activated  380.123299
5          solsista              353.034515        NO!    0.000000
6            akrtws              332.309293  Activated  332.309293
7          mzargham              289.446628  Activated  289.446628
8         iviangita              265.214736  Activated  265.214736
9         naynaysoo              251.147051  Activated  251.147051
10       durgadasji              223.666299  Activated  223.666299
11        metaverde              210.205771  Activated  210.205771
12        juankbell              176.099120  Activated  176.099120
13        mateodaza              174.616627  Activated  174.616627
14       griffgreen              173.964135  Activated  173.964135
15   jessicazartler              173.794575  Activated  173.794575
16      freedumbs00              164.739140  Activated  164.739140
17         trentmc0              160.339432  Activated  160.339432
18        laurenluz              159.878412  Activated  159.878412
19           lkngtn              159.545456  Activated  159.545456
20          liviade              157.167820  Activated  157.167820
21      nuggan#5183              149.953655  Activated  149.953655
22            xgabi              148.632553  Activated  148.632553
23         danlessa              146.951377  Activated  146.951377
24  divine_comedian              140.249069  Activated  140.249069
25           markop              130.887761  Activated  130.887761
26  vitormarthendal              128.065726  Activated  128.065726
27     vyvy-vi#5040              124.003113  Activated  124.003113
28   shawn_westrick              123.511299  Activated  123.511299
29        tonga2020              119.602213  Activated  119.602213
30          tam2140              114.926538  Activated  114.926538
31         simondlr              113.053893  Activated  113.053893
32       jeffemmett              111.953986  Activated  111.953986
33  mount manu#3530              111.502990  Activated  111.502990
34           wslyvh              109.217136  Activated  109.217136
35        ddan#2489              108.933564  Activated  108.933564
36        paulo_c2d              104.252087  Activated  104.252087
37   🐙 octopus#5508              103.239279        NO!    0.000000
38         sherminv               98.369488  Activated   98.369488
39   randomshinichi               92.308480  Activated   92.308480

In [6]:
total_hours = pd.read_excel("data/TEC Praise Quantification.xlsx", sheet_name="Total Impact Hours ignoring ded", engine='openpyxl', header=1, usecols="A:D").dropna(thresh=2).rename({'Impact Hours':'Total Impact Hours'},axis=1)

In [7]:
total_hours['Handle'] = total_hours['Handle'].str.lower()
total_hours.head(40)

                Handle  Total Impact Hours  Activated   Unnamed: 3
0          sembrestels         1226.070142  Activated  1226.070142
1           griffgreen         1066.312081  Activated  1066.312081
2              liviade          982.446915  Activated   982.446915
3            zeptimusq          854.393673  Activated   854.393673
4            juankbell          822.462231  Activated   822.462231
5       jessicazartler          772.511485  Activated   772.511485
6              tam2140          757.592623  Activated   757.592623
7          ygganderson          651.862054  Activated   651.862054
8            santigs67          621.789072  Activated   621.789072
9            paulo_c2d          610.880214  Activated   610.880214
10           iviangita          605.583689  Activated   605.583689
11              markop          518.849879  Activated   518.849879
12        chuygarcia92          474.013429  Activated   474.013429
13           naynaysoo          450.974415  Activated   450.974415
14         freedumbs00          446.936590  Activated   446.936590
15              vegayp          433.701429  Activated   433.701429
16          cranders71          418.671961  Activated   418.671961
17          jeffemmett          408.771665  Activated   408.771665
18     vitormarthendal          379.749101  Activated   379.749101
19     divine_comedian          358.537427  Activated   358.537427
20            solsista          353.034515        NO!     0.000000
21           mateodaza          334.913924  Activated   334.913924
22              akrtws          332.309293  Activated   332.309293
23           laurenluz          331.147677  Activated   331.147677
24            mzargham          289.446628  Activated   289.446628
25        vyvy-vi#5040          283.162581  Activated   283.162581
26             fabimol          231.675799  Activated   231.675799
27           suga#8514          230.245675  Activated   230.245675
28           krisjones          226.007779  Activated   226.007779
29          durgadasji          223.666299  Activated   223.666299
30           metaverde          210.205771  Activated   210.205771
31               xgabi          203.826435  Activated   203.826435
32        fabiosmendes          160.705734  Activated   160.705734
33            trentmc0          160.339432  Activated   160.339432
34              lkngtn          159.545456  Activated   159.545456
35         nuggan#5183          149.953655  Activated   149.953655
36            danlessa          146.951377  Activated   146.951377
37            knobsdao          144.673366  Activated   144.673366
38  kristoferkristofer          141.684941  Activated   141.684941
39     mount manu#3530          133.428124  Activated   133.428124

In [8]:
deductions = pd.read_excel("data/TEC Praise Quantification.xlsx", sheet_name="Deducted IH Results (after audi", engine='openpyxl', header=1, usecols="A:B").dropna(thresh=2)

In [9]:
deductions['Handle'] = deductions['Handle'].str.lower()
deductions

                Handle  Total Deductions
0           griffgreen       -892.347946
1          sembrestels       -845.946843
2              liviade       -825.279094
3            juankbell       -646.363111
4              tam2140       -642.666085
5       jessicazartler       -598.716910
6            paulo_c2d       -506.628127
7         chuygarcia92       -400.025463
8               markop       -387.962118
9               vegayp       -341.679162
10           iviangita       -340.368953
11          jeffemmett       -296.817679
12         freedumbs00       -282.197450
13     vitormarthendal       -251.683375
14     divine_comedian       -218.288358
15           naynaysoo       -199.827364
16           suga#8514       -190.683498
17           laurenluz       -171.269265
18             fabimol       -169.623785
19           krisjones       -169.011073
20           zeptimusq       -167.792233
21           mateodaza       -160.297296
22        vyvy-vi#5040       -159.159469
23         ygganderson       -149.170545
24        fabiosmendes        -93.035663
25            knobsdao        -86.794514
26               xgabi        -55.193882
27  kristoferkristofer        -54.616715
28              atacas        -37.915032
29            vivszaid        -37.722339
30          fiorebotta        -33.690559
31          aminlatifi        -22.983000
32     acidlazzer#5796        -22.581326
33     mount manu#3530        -21.925134
34            heater03        -20.839626
35           lescanore        -18.939973
36         geleeroyale        -18.076953
37        rubenrussel7        -16.940196
38           danibelle        -15.920268
39       katalenacaban        -15.150450
40              sgonzt        -15.139750
41        anthonyoliai        -13.804952
42       merlinegalite        -11.665343
43         jukren#8803        -11.191299
44              gfriis         -5.790307
45           freshelle         -1.842858
46       bradleyc#1813         -1.272516
47    ekeneodigwe#1502         -1.152142

In [10]:
print(len(total_hours), len(net_hours), len(deductions), len(praisemageddon))

458 458 48 459

Double check the below hatchers in the final data

In [11]:
set(net_hours['Handle']) - set(praisemageddon['Name'])

{'akrtws', 'kristoferkristofer', 'simondlr'}

In [12]:
set(praisemageddon['Name']) - set(net_hours['Handle'])

{'akrtws ', 'kristoferkristofer ', nan}

In [13]:
set(total_hours['Handle']) - set(net_hours['Handle'])

set()

Merge total and net hours

In [14]:
merged = total_hours.merge(net_hours, left_on='Handle', right_on='Handle')#[['Handle', 'Total Impact Hours', 'Final Net Impact Hours']]

In [15]:
merged.head(40)

,Handle,Total Impact Hours,Activated_x,Unnamed: 3_x,Final Net Impact Hours,Activated_y,Unnamed: 3_y
0,sembrestels,1226.070142,Activated,1226.070142,380.123299,Activated,380.123299
1,griffgreen,1066.312081,Activated,1066.312081,173.964135,Activated,173.964135
2,liviade,982.446915,Activated,982.446915,157.167820,Activated,157.167820
3,zeptimusq,854.393673,Activated,854.393673,686.601440,Activated,686.601440
4,juankbell,822.462231,Activated,822.462231,176.099120,Activated,176.099120
5,jessicazartler,772.511485,Activated,772.511485,173.794575,Activated,173.794575
6,tam2140,757.592623,Activated,757.592623,114.926538,Activated,114.926538
7,ygganderson,651.862054,Activated,651.862054,502.691508,Activated,502.691508
8,santigs67,621.789072,Activated,621.789072,621.789072,Activated,621.789072
9,paulo_c2d,610.880214,Activated,610.880214,104.252087,Activated,104.252087
10,iviangita,605.583689,Activated,605.583689,265.214736,Activated,265.214736
11,markop,518.849879,Activated,518.849879,130.887761,Activated,130.887761
12,chuygarcia92,474.013429,Activated,474.013429,73.987966,Activated,73.987966
13,naynaysoo,450.974415,Activated,450.974415,251.147051,Activated,251.147051
14,freedumbs00,446.936590,Activated,446.936590,164.739140,Activated,164.739140
15,vegayp,433.701429,Activated,433.701429,92.022267,Activated,92.022267
16,cranders71,418.671961,Activated,418.671961,418.671961,Activated,418.671961
17,jeffemmett,408.771665,Activated,408.771665,111.953986,Activated,111.953986
18,vitormarthendal,379.749101,Activated,379.749101,128.065726,Activated,128.065726
19,divine_comedian,358.537427,Activated,358.537427,140.249069,Activated,140.249069
20,solsista,353.034515,NO!,0.000000,353.034515,NO!,0.000000
21,mateodaza,334.913924,Activated,334.913924,174.616627,Activated,174.616627
22,akrtws,332.309293,Activated,332.309293,332.309293,Activated,332.309293
23,laurenluz,331.147677,Activated,331.147677,159.878412,Activated,159.878412
24,mzargham,289.446628,Activated,289.446628,289.446628,Activated,289.446628
25,vyvy-vi#5040,283.162581,Activated,283.162581,124.003113,Activated,124.003113
26,fabimol,231.675799,Activated,231.675799,62.052014,Activated,62.052014
27,suga#8514,230.245675,Activated,230.245675,39.562176,Activated,39.562176
28,krisjones,226.007779,Activated,226.007779,56.996706,Activated,56.996706
29,durgadasji,223.666299,Activated,223.666299,223.666299,Activated,223.666299
30,metaverde,210.205771,Activated,210.205771,210.205771,Activated,210.205771
31,xgabi,203.826435,Activated,203.826435,148.632553,Activated,148.632553
32,fabiosmendes,160.705734,Activated,160.705734,67.670071,Activated,67.670071
33,trentmc0,160.339432,Activated,160.339432,160.339432,Activated,160.339432
34,lkngtn,159.545456,Activated,159.545456,159.545456,Activated,159.545456
35,nuggan#5183,149.953655,Activated,149.953655,149.953655,Activated,149.953655
36,danlessa,146.951377,Activated,146.951377,146.951377,Activated,146.951377
37,knobsdao,144.673366,Activated,144.673366,57.878852,Activated,57.878852
38,kristoferkristofer,141.684941,Activated,141.684941,87.068225,Activated,87.068225
39,mount manu#3530,133.428124,Activated,133.428124,111.502990,Activated,111.502990

Merge Deductions

In [16]:
merged = merged.merge(deductions, left_on='Handle', right_on='Handle', how='left')

Merge Praisemaggedon

In [17]:
combined = merged.merge(praisemageddon, left_on='Handle', right_on='Name', how='outer').copy()

In [18]:
combined.loc[combined['Handle'].isna()]

,Handle,Total Impact Hours,Activated_x,Unnamed: 3_x,Final Net Impact Hours,Activated_y,Unnamed: 3_y,Total Deductions,Name,IH held
459,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,akrtws,167.782983
460,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,167.782983
461,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,kristoferkristofer,62.115402

In [19]:
combined.loc[combined['Name'].isna()]

,Handle,Total Impact Hours,Activated_x,Unnamed: 3_x,Final Net Impact Hours,Activated_y,Unnamed: 3_y,Total Deductions,Name,IH held
22,akrtws,332.309293,Activated,332.309293,332.309293,Activated,332.309293,NaN,NaN,NaN
38,kristoferkristofer,141.684941,Activated,141.684941,87.068225,Activated,87.068225,-54.616715,NaN,NaN
42,simondlr,113.053893,Activated,113.053893,113.053893,Activated,113.053893,NaN,NaN,NaN
460,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,167.782983

In [20]:
combined.loc[combined['Name'].isna(), ['Name', 'IH held']] = [['akrtws',167.782983], ['kristoferkristofer',167.782983], ['simondlr',167.782983], ['nan',1]]

In [21]:
combined = combined.loc[~combined['Handle'].isna()]

In [22]:
combined.loc[combined['Handle'].isna()]

Empty DataFrame
Columns: [Handle, Total Impact Hours, Activated_x, Unnamed: 3_x, Final Net Impact Hours, Activated_y, Unnamed: 3_y, Total Deductions, Name, IH held]
Index: []

In [23]:
combined.loc[combined['Name'].isna()]

Empty DataFrame
Columns: [Handle, Total Impact Hours, Activated_x, Unnamed: 3_x, Final Net Impact Hours, Activated_y, Unnamed: 3_y, Total Deductions, Name, IH held]
Index: []

In [24]:
combined

,Handle,Total Impact Hours,Activated_x,Unnamed: 3_x,Final Net Impact Hours,Activated_y,Unnamed: 3_y,Total Deductions,Name,IH held
0,sembrestels,1226.070142,Activated,1226.070142,380.123299,Activated,380.123299,-845.946843,sembrestels,167.782983
1,griffgreen,1066.312081,Activated,1066.312081,173.964135,Activated,173.964135,-892.347946,griffgreen,167.782983
2,liviade,982.446915,Activated,982.446915,157.167820,Activated,157.167820,-825.279094,liviade,167.782983
3,zeptimusq,854.393673,Activated,854.393673,686.601440,Activated,686.601440,-167.792233,zeptimusq,167.782983
4,juankbell,822.462231,Activated,822.462231,176.099120,Activated,176.099120,-646.363111,juankbell,167.782983
...,...,...,...,...,...,...,...,...,...,...
454,asalemalawi,0.048312,NO!,0.000000,0.048312,NO!,0.000000,NaN,asalemalawi,2.010623
455,wolfofcurrency,0.037712,NO!,0.000000,0.037712,NO!,0.000000,NaN,wolfofcurrency,2.010623
456,llll79,0.027621,NO!,0.000000,0.027621,NO!,0.000000,NaN,llll79,2.010623
457,immortaz,0.025141,NO!,0.000000,0.025141,NO!,0.000000,NaN,immortaz,2.010623
458,burningfiat,0.025141,NO!,0.000000,0.025141,NO!,0.000000,NaN,burningfiat,2.010623

In [25]:
combined[combined['Name']=='kristoferkristofer']

,Handle,Total Impact Hours,Activated_x,Unnamed: 3_x,Final Net Impact Hours,Activated_y,Unnamed: 3_y,Total Deductions,Name,IH held
38,kristoferkristofer,141.684941,Activated,141.684941,87.068225,Activated,87.068225,-54.616715,kristoferkristofer,167.782983

Looks good!

As of this point we have a very clean and sanity checked dataset. The next steps are the following:
0. Apply a 'smoothing' on 'IH held' according to the ordering of 'Total Impact Hours'
1. Compute the 'Unpaid bonus factor' this is a measure of the payments received. It will be a 1.0 if no payments were received. 
3. Cap the 'Unpaid bonus factor' such that its minimum is 0.6
4. Multiply that factor by 'normalized' IH held (normalized = IH held / sum(IH held))
5. Normalize original distribution (Final Net Impact hours)
6. Combine for final distribution = 0.48 * normalized(praisemageddon) + 0.52 * normalized(Final Net Impact Hours)

In [27]:
combined['Paid Ratio'] = combined['Total Deductions'] / -combined['Total Impact Hours']
combined['Unpaid Bonus Factor'] = 1 - (combined['Paid Ratio'] / combined['Paid Ratio'].sum() * 10)

In [28]:
combined.head(40)

,Handle,Total Impact Hours,Activated_x,Unnamed: 3_x,Final Net Impact Hours,Activated_y,Unnamed: 3_y,Total Deductions,Name,IH held,Paid Ratio,Unpaid Bonus Factor
0,sembrestels,1226.070142,Activated,1226.070142,380.123299,Activated,380.123299,-845.946843,sembrestels,167.782983,0.689966,0.713402
1,griffgreen,1066.312081,Activated,1066.312081,173.964135,Activated,173.964135,-892.347946,griffgreen,167.782983,0.836854,0.652388
2,liviade,982.446915,Activated,982.446915,157.167820,Activated,157.167820,-825.279094,liviade,167.782983,0.840024,0.651071
3,zeptimusq,854.393673,Activated,854.393673,686.601440,Activated,686.601440,-167.792233,zeptimusq,167.782983,0.196387,0.918425
4,juankbell,822.462231,Activated,822.462231,176.099120,Activated,176.099120,-646.363111,juankbell,167.782983,0.785888,0.673558
5,jessicazartler,772.511485,Activated,772.511485,173.794575,Activated,173.794575,-598.716910,jessicazartler,167.782983,0.775027,0.678070
6,tam2140,757.592623,Activated,757.592623,114.926538,Activated,114.926538,-642.666085,tam2140,167.782983,0.848300,0.647633
7,ygganderson,651.862054,Activated,651.862054,502.691508,Activated,502.691508,-149.170545,ygganderson,167.782983,0.228838,0.904946
8,santigs67,621.789072,Activated,621.789072,621.789072,Activated,621.789072,NaN,santigs67,167.782983,NaN,NaN
9,paulo_c2d,610.880214,Activated,610.880214,104.252087,Activated,104.252087,-506.628127,paulo_c2d,167.782983,0.829341,0.655509
10,iviangita,605.583689,Activated,605.583689,265.214736,Activated,265.214736,-340.368953,iviangita,167.782983,0.562051,0.766535
11,markop,518.849879,Activated,518.849879,130.887761,Activated,130.887761,-387.962118,markop,167.782983,0.747735,0.689406
12,chuygarcia92,474.013429,Activated,474.013429,73.987966,Activated,73.987966,-400.025463,chuygarcia92,167.782983,0.843912,0.649456
13,naynaysoo,450.974415,Activated,450.974415,251.147051,Activated,251.147051,-199.827364,naynaysoo,167.782983,0.443101,0.815945
14,freedumbs00,446.936590,Activated,446.936590,164.739140,Activated,164.739140,-282.197450,freedumbs00,62.115402,0.631404,0.737728
15,vegayp,433.701429,Activated,433.701429,92.022267,Activated,92.022267,-341.679162,vegayp,167.782983,0.787821,0.672755
16,cranders71,418.671961,Activated,418.671961,418.671961,Activated,418.671961,NaN,cranders71,167.782983,NaN,NaN
17,jeffemmett,408.771665,Activated,408.771665,111.953986,Activated,111.953986,-296.817679,jeffemmett,167.782983,0.726121,0.698384
18,vitormarthendal,379.749101,Activated,379.749101,128.065726,Activated,128.065726,-251.683375,vitormarthendal,167.782983,0.662762,0.724702
19,divine_comedian,358.537427,Activated,358.537427,140.249069,Activated,140.249069,-218.288358,divine_comedian,167.782983,0.608830,0.747104
20,solsista,353.034515,NO!,0.000000,353.034515,NO!,0.000000,NaN,solsista,167.782983,NaN,NaN
21,mateodaza,334.913924,Activated,334.913924,174.616627,Activated,174.616627,-160.297296,mateodaza,62.115402,0.478622,0.801190
22,akrtws,332.309293,Activated,332.309293,332.309293,Activated,332.309293,NaN,akrtws,167.782983,NaN,NaN
23,laurenluz,331.147677,Activated,331.147677,159.878412,Activated,159.878412,-171.269265,laurenluz,167.782983,0.517199,0.785166
24,mzargham,289.446628,Activated,289.446628,289.446628,Activated,289.446628,NaN,mzargham,167.782983,NaN,NaN
25,vyvy-vi#5040,283.162581,Activated,283.162581,124.003113,Activated,124.003113,-159.159469,vyvy-vi#5040,167.782983,0.562078,0.766524
26,fabimol,231.675799,Activated,231.675799,62.052014,Activated,62.052014,-169.623785,fabimol,62.115402,0.732160,0.695876
27,suga#8514,230.245675,Activated,230.245675,39.562176,Activated,39.562176,-190.683498,suga#8514,167.782983,0.828174,0.655993
28,krisjones,226.007779,Activated,226.007779,56.996706,Activated,56.996706,-169.011073,krisjones,62.115402,0.747811,0.689375
29,durgadasji,223.666299,Activated,223.666299,223.666299,Activated,223.666299,NaN,durgadasji,62.115402,NaN,NaN
30,metaverde,210.205771,Activated,210.205771,210.205771,Activated,210.205771,NaN,metaverde,10.426514,NaN,NaN
31,xgabi,203.826435,Activated,203.826435,148.632553,Activated,148.632553,-55.193882,xgabi,167.782983,0.270789,0.887520
32,fabiosmendes,160.705734,Activated,160.705734,67.670071,Activated,67.670071,-93.035663,fabiosmendes,167.782983,0.578919,0.759529
33,trentmc0,160.339432,Activated,160.339432,160.339432,Activated,160.339432,NaN,trentmc0,62.115402,NaN,NaN
34,lkngtn,159.545456,Activated,159.545456,159.545456,Activated,159.545456,NaN,lkngtn,167.782983,NaN,NaN
35,nuggan#5183,149.953655,Activated,149.953655,149.953655,Activated,149.953655,NaN,nuggan#5183,62.115402,NaN,NaN
36,danlessa,146.951377,Activated,146.951377,146.951377,Activated,146.951377,NaN,danlessa,62.115402,NaN,NaN
37,knobsdao,144.673366,Activated,144.673366,57.878852,Activated,57.878852,-86.794514,knobsdao,62.115402,0.599934,0.750800
38,kristoferkristofer,141.684941,Activated,141.684941,87.068225,Activated,87.068225,-54.616715,kristoferkristofer,167.782983,0.385480,0.839879
39,mount manu#3530,133.428124,Activated,133.428124,111.502990,Activated,111.502990,-21.925134,mount manu#3530,62.115402,0.164322,0.931744

Hints for smoothing

In [32]:
# Do this for each bFor each bucket
np.linspace(0, combined['IH held'].mean(), len(combined))

array([ 0.        ,  0.04680334,  0.09360667,  0.14041001,  0.18721335,
        0.23401669,  0.28082002,  0.32762336,  0.3744267 ,  0.42123004,
        0.46803337,  0.51483671,  0.56164005,  0.60844339,  0.65524672,
        0.70205006,  0.7488534 ,  0.79565674,  0.84246007,  0.88926341,
        0.93606675,  0.98287009,  1.02967342,  1.07647676,  1.1232801 ,
        1.17008344,  1.21688677,  1.26369011,  1.31049345,  1.35729679,
        1.40410012,  1.45090346,  1.4977068 ,  1.54451014,  1.59131347,
        1.63811681,  1.68492015,  1.73172349,  1.77852682,  1.82533016,
        1.8721335 ,  1.91893684,  1.96574017,  2.01254351,  2.05934685,
        2.10615019,  2.15295352,  2.19975686,  2.2465602 ,  2.29336354,
        2.34016687,  2.38697021,  2.43377355,  2.48057688,  2.52738022,
        2.57418356,  2.6209869 ,  2.66779023,  2.71459357,  2.76139691,
        2.80820025,  2.85500358,  2.90180692,  2.94861026,  2.9954136 ,
        3.04221693,  3.08902027,  3.13582361,  3.18262695,  3.22943028,
        3.27623362,  3.32303696,  3.3698403 ,  3.41664363,  3.46344697,
        3.51025031,  3.55705365,  3.60385698,  3.65066032,  3.69746366,
        3.744267  ,  3.79107033,  3.83787367,  3.88467701,  3.93148035,
        3.97828368,  4.02508702,  4.07189036,  4.1186937 ,  4.16549703,
        4.21230037,  4.25910371,  4.30590705,  4.35271038,  4.39951372,
        4.44631706,  4.4931204 ,  4.53992373,  4.58672707,  4.63353041,
        4.68033374,  4.72713708,  4.77394042,  4.82074376,  4.86754709,
        4.91435043,  4.96115377,  5.00795711,  5.05476044,  5.10156378,
        5.14836712,  5.19517046,  5.24197379,  5.28877713,  5.33558047,
        5.38238381,  5.42918714,  5.47599048,  5.52279382,  5.56959716,
        5.61640049,  5.66320383,  5.71000717,  5.75681051,  5.80361384,
        5.85041718,  5.89722052,  5.94402386,  5.99082719,  6.03763053,
        6.08443387,  6.13123721,  6.17804054,  6.22484388,  6.27164722,
        6.31845056,  6.36525389,  6.41205723,  6.45886057,  6.50566391,
        6.55246724,  6.59927058,  6.64607392,  6.69287726,  6.73968059,
        6.78648393,  6.83328727,  6.88009061,  6.92689394,  6.97369728,
        7.02050062,  7.06730395,  7.11410729,  7.16091063,  7.20771397,
        7.2545173 ,  7.30132064,  7.34812398,  7.39492732,  7.44173065,
        7.48853399,  7.53533733,  7.58214067,  7.628944  ,  7.67574734,
        7.72255068,  7.76935402,  7.81615735,  7.86296069,  7.90976403,
        7.95656737,  8.0033707 ,  8.05017404,  8.09697738,  8.14378072,
        8.19058405,  8.23738739,  8.28419073,  8.33099407,  8.3777974 ,
        8.42460074,  8.47140408,  8.51820742,  8.56501075,  8.61181409,
        8.65861743,  8.70542077,  8.7522241 ,  8.79902744,  8.84583078,
        8.89263412,  8.93943745,  8.98624079,  9.03304413,  9.07984747,
        9.1266508 ,  9.17345414,  9.22025748,  9.26706082,  9.31386415,
        9.36066749,  9.40747083,  9.45427416,  9.5010775 ,  9.54788084,
        9.59468418,  9.64148751,  9.68829085,  9.73509419,  9.78189753,
        9.82870086,  9.8755042 ,  9.92230754,  9.96911088, 10.01591421,
       10.06271755, 10.10952089, 10.15632423, 10.20312756, 10.2499309 ,
       10.29673424, 10.34353758, 10.39034091, 10.43714425, 10.48394759,
       10.53075093, 10.57755426, 10.6243576 , 10.67116094, 10.71796428,
       10.76476761, 10.81157095, 10.85837429, 10.90517763, 10.95198096,
       10.9987843 , 11.04558764, 11.09239098, 11.13919431, 11.18599765,
       11.23280099, 11.27960433, 11.32640766, 11.373211  , 11.42001434,
       11.46681768, 11.51362101, 11.56042435, 11.60722769, 11.65403103,
       11.70083436, 11.7476377 , 11.79444104, 11.84124437, 11.88804771,
       11.93485105, 11.98165439, 12.02845772, 12.07526106, 12.1220644 ,
       12.16886774, 12.21567107, 12.26247441, 12.30927775, 12.35608109,
       12.40288442, 12.44968776, 12.4964911 , 12.54329444, 12.59009777,
       12.63690111, 12.68370445, 12.73050779, 12.77731112, 12.82411446,
       12.8709178 , 12.91772114, 12.96452447, 13.01132781, 13.05813115,
       13.10493449, 13.15173782, 13.19854116, 13.2453445 , 13.29214784,
       13.33895117, 13.38575451, 13.43255785, 13.47936119, 13.52616452,
       13.57296786, 13.6197712 , 13.66657454, 13.71337787, 13.76018121,
       13.80698455, 13.85378789, 13.90059122, 13.94739456, 13.9941979 ,
       14.04100123, 14.08780457, 14.13460791, 14.18141125, 14.22821458,
       14.27501792, 14.32182126, 14.3686246 , 14.41542793, 14.46223127,
       14.50903461, 14.55583795, 14.60264128, 14.64944462, 14.69624796,
       14.7430513 , 14.78985463, 14.83665797, 14.88346131, 14.93026465,
       14.97706798, 15.02387132, 15.07067466, 15.117478  , 15.16428133,
       15.21108467, 15.25788801, 15.30469135, 15.35149468, 15.39829802,
       15.44510136, 15.4919047 , 15.53870803, 15.58551137, 15.63231471,
       15.67911805, 15.72592138, 15.77272472, 15.81952806, 15.8663314 ,
       15.91313473, 15.95993807, 16.00674141, 16.05354475, 16.10034808,
       16.14715142, 16.19395476, 16.2407581 , 16.28756143, 16.33436477,
       16.38116811, 16.42797144, 16.47477478, 16.52157812, 16.56838146,
       16.61518479, 16.66198813, 16.70879147, 16.75559481, 16.80239814,
       16.84920148, 16.89600482, 16.94280816, 16.98961149, 17.03641483,
       17.08321817, 17.13002151, 17.17682484, 17.22362818, 17.27043152,
       17.31723486, 17.36403819, 17.41084153, 17.45764487, 17.50444821,
       17.55125154, 17.59805488, 17.64485822, 17.69166156, 17.73846489,
       17.78526823, 17.83207157, 17.87887491, 17.92567824, 17.97248158,
       18.01928492, 18.06608826, 18.11289159, 18.15969493, 18.20649827,
       18.25330161, 18.30010494, 18.34690828, 18.39371162, 18.44051496,
       18.48731829, 18.53412163, 18.58092497, 18.62772831, 18.67453164,
       18.72133498, 18.76813832, 18.81494165, 18.86174499, 18.90854833,
       18.95535167, 19.002155  , 19.04895834, 19.09576168, 19.14256502,
       19.18936835, 19.23617169, 19.28297503, 19.32977837, 19.3765817 ,
       19.42338504, 19.47018838, 19.51699172, 19.56379505, 19.61059839,
       19.65740173, 19.70420507, 19.7510084 , 19.79781174, 19.84461508,
       19.89141842, 19.93822175, 19.98502509, 20.03182843, 20.07863177,
       20.1254351 , 20.17223844, 20.21904178, 20.26584512, 20.31264845,
       20.35945179, 20.40625513, 20.45305847, 20.4998618 , 20.54666514,
       20.59346848, 20.64027182, 20.68707515, 20.73387849, 20.78068183,
       20.82748517, 20.8742885 , 20.92109184, 20.96789518, 21.01469851,
       21.06150185, 21.10830519, 21.15510853, 21.20191186, 21.2487152 ,
       21.29551854, 21.34232188, 21.38912521, 21.43592855])