In [3]:
import pandas as pd
import numpy as np
import re

In [4]:
praisemageddon = pd.read_excel("data/Impact Hour Distribution analysis.xlsx", sheet_name="Praisemageddon", engine='openpyxl', header=0,  usecols="A,F").dropna()

### Resolving Names

In [5]:
import pickle

with open('outputs/names_dict.pickle', 'rb') as f:
    names_dict = pickle.load(f)

praisemageddon.loc[:,"Name"] = praisemageddon.loc[:,"Name"].map(names_dict)

praisemageddon

                       Name     IH held
0                 zeptimusQ  167.782983
1                 Santigs67  167.782983
2                cranders71  167.782983
3               sembrestels  167.782983
4               ygganderson  167.782983
..                      ...         ...
455            AnnAnna#4694    2.010623
456            mratsim#9204    2.010623
457              nickjplace    2.010623
458  MonetaryPlurality#6033    2.010623
459         mindmonkey#3630    2.010623

[459 rows x 2 columns]

In [4]:
results = pd.read_csv('outputs/audit_results.csv')

In [5]:
results

,Handle,Impact Hours Calc,Impact Hours Calc.1,Why?
0,naynaysoo,125.868000,125.868000,Was deducted but not paid for several months
1,freedumbs00,73.345850,73.345850,Was deducted but not paid for several months
2,fabiosmendes,10.639598,10.639598,Was deducted more than he should have been
3,fabimol,9.260812,9.260812,Was deducted but not paid for several months
4,danielo#2815,7.238339,7.238339,Praise was misattributed to Danilo when it was...
5,geleeroyale,5.867313,5.867313,Was deducted but not paid for several months
6,jeffemmett,4.397127,4.397127,Was deducted more than he should have been
7,Gfriis,3.100002,3.100002,Was deducted more than he should have been
8,vivszaid,1.683976,1.683976,Was deducted more than she should have been
9,vegayp,1.470148,1.470148,Was deducted more than he should have been
10,iviangita,1.368500,1.368500,Was deducted more than she should have been
11,Ekeneodigwe#1502,1.152142,1.152142,Was deducted more than he should have been
12,katalenacaban,0.932500,0.932500,Was deducted more than she should have been
13,Anthonyoliai,0.621750,0.621750,Was deducted more than she should have been
14,fiorebotta,0.498438,0.498438,Was deducted more than she should have been
15,atacas,-0.579500,-0.579500,Was paid by Commons Stack but not deducted
16,vitormarthendal,-1.139250,-1.139250,Was paid by General Magic but not deducted
17,krisjones,-1.169325,-1.169325,Was paid by Commons Stack but not deducted
18,Vyvy-vi#5040,-1.339918,-1.339918,Was paid by Commons Stack but not deducted
19,xgabi,-1.473682,-1.473682,Was paid by Commons Stack but not deducted
20,ygganderson,-1.985445,-1.985445,COMPLICATED! Check the sheet: https://docs.goo...
21,nikoline_nik,-3.113000,-3.113000,Was paid by Commons Stack but not deducted
22,sgonzt,-5.091250,-5.091250,Was paid by Commons Stack but not deducted
23,heater03,-6.535500,-6.535500,Was paid by Commons Stack but not deducted
24,danlessa,-7.238339,-7.238339,Praise was misattributed to Danilo when it was...
25,merlinegalite,-8.616369,-8.616369,Was paid by Giveth but not deducted for many m...
26,Mount Manu#3530,-8.617805,-8.617805,Was paid by Giveth but not deducted for June
27,Danibelle,-9.198939,-9.198939,Was paid by Giveth but not deducted for many m...
28,knobsDAO,-9.552509,-9.552509,Was paid by Commons Stack but not deducted for...
29,kristoferkristofer,-11.628058,-11.628058,Was paid by Commons Stack but not deducted for...
30,divine_comedian,-13.649700,-13.649700,Was paid by Giveth but not deducted for many m...
31,laurenluz,-19.550750,-19.550750,Was paid by Giveth but not deducted for many m...
32,Suga#8514,-43.969702,-43.969702,Was paid by Commons Stack but not deducted for...
33,mateodaza,-67.556792,-67.556792,Was paid by Giveth but not deducted for many m...

In [6]:
total_hours = pd.read_csv('outputs/total_hours.csv')

In [7]:
total_hours

               Handle  Impact Hours
0           zeptimusq    686.601440
1           santigs67    621.789072
2         ygganderson    502.691508
3          cranders71    418.671961
4         sembrestels    380.123299
..                ...           ...
455            llll79      0.027621
456          immortaz      0.025141
457       burningfiat      0.025141
458  elessar.eth#7945      0.000000
459       ferdinandrg      0.000000

[460 rows x 2 columns]

### Compare Calculated Impact Hours with Total Impact Hours

In [8]:
# merged = total_hours.merge(default, left_on='Handle', right_on='Hatcher')[['Handle', 'Impact Hours', 'Default Net Impact Hours', 'Impact Hours Calc']]

# merged['Calculated Impact Hours'] = merged['Default Net Impact Hours'] + merged['Impact Hours Calc']

# merged['Diff'] = merged['Impact Hours'] - merged['Impact Hours Corrected']

# merged[['Handle', 'Impact Hours', 'Calculated Impact Hours', 'Diff']].sort_values('Diff')

In [101]:
default = pd.read_csv('outputs/YGG-AUGMENTATION.csv').replace('akrtws ', 'akrtws')

In [102]:
default['Hatcher'] = default['Hatcher'].str.lower()
total_hours['Handle'] = total_hours['Handle'].str.lower()
default = default.merge(total_hours, left_on='Hatcher', right_on='Handle', how='right')

In [103]:
default.loc[default['Handle'] == 'kristoferkristofer', 'Total Hours Deducted'] = -34.19
default['Total Hours Deducted'] = default['Total Hours Deducted'].fillna(0)

In [104]:
default

,level_0,index,Hatcher,Total Hours Given,Total Hours Received,Total Hours Deducted,Default Net Impact Hours,Initial Distribution,40% Wage Restoration Augmentation,UBI Augmentation,Gifting Economy Augmentation,Composite Augmentations,Augmented Impact Hours,Final Distribution,Diff,Handle,Impact Hours
0,0.0,0.0,zeptimusq,857.583202,854.352806,-167.792233,686.560573,0.053048,67.116893,24.120714,25.0,116.237607,802.798180,0.028623,-0.024424,zeptimusq,686.601440
1,2.0,1.0,santigs67,155.606080,623.005227,0.000000,623.005227,0.048137,0.000000,24.424424,25.0,49.424424,672.429651,0.023975,-0.024162,santigs67,621.789072
2,3.0,2.0,ygganderson,278.319488,648.497065,-142.968565,505.528500,0.039060,57.187426,24.734315,25.0,106.921740,612.450240,0.021837,-0.017223,ygganderson,502.691508
3,6.0,3.0,cranders71,455.197105,409.176559,10.380506,419.557066,0.032417,4.152203,25.050335,25.0,54.202538,473.759604,0.016892,-0.015526,cranders71,418.671961
4,1.0,4.0,sembrestels,825.276175,1226.007512,-844.384981,381.622531,0.029486,337.753993,25.372425,25.0,388.126418,769.748949,0.027445,-0.002041,sembrestels,380.123299
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
455,392.0,391.0,llll79,0.000000,0.027621,0.000000,0.027621,0.000002,0.000000,15.000000,0.0,15.000000,15.027621,0.000536,0.000534,llll79,0.027621
456,394.0,393.0,immortaz,0.000000,0.025141,0.000000,0.025141,0.000002,0.000000,15.000000,0.0,15.000000,15.025141,0.000536,0.000534,immortaz,0.025141
457,393.0,392.0,burningfiat,0.000000,0.025141,0.000000,0.025141,0.000002,0.000000,15.000000,0.0,15.000000,15.025141,0.000536,0.000534,burningfiat,0.025141
458,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,elessar.eth#7945,0.000000
459,256.0,252.0,ferdinandrg,0.000000,2.711618,0.000000,2.711618,0.000210,0.000000,15.000000,0.0,15.000000,17.711618,0.000632,0.000422,ferdinandrg,0.000000

In [105]:
default = default.sort_values('Impact Hours', ascending=False)[['Handle', 'Total Hours Deducted', 'Impact Hours']]

In [106]:
default['Paid Ratio'] = default['Total Hours Deducted'] / -default['Impact Hours']
default['Unpaid Bonus Factor'] = 1 - (default['Paid Ratio'] / default['Paid Ratio'].sum() * 10)

default

,Handle,Total Hours Deducted,Impact Hours,Paid Ratio,Unpaid Bonus Factor
0,zeptimusq,-167.792233,686.601440,0.244381,0.964521
1,santigs67,0.000000,621.789072,-0.000000,1.000000
2,ygganderson,-142.968565,502.691508,0.284406,0.958710
3,cranders71,10.380506,418.671961,-0.024794,1.003600
4,sembrestels,-844.384981,380.123299,2.221345,0.677503
...,...,...,...,...,...
455,llll79,0.000000,0.027621,-0.000000,1.000000
456,immortaz,0.000000,0.025141,-0.000000,1.000000
457,burningfiat,0.000000,0.025141,-0.000000,1.000000
458,elessar.eth#7945,0.000000,0.000000,NaN,NaN
459,ferdinandrg,0.000000,0.000000,NaN,NaN

In [107]:
praisemageddon['Name'] = praisemageddon['Name'].str.lower()

In [108]:
praisemageddon.head(20)

               Name     IH held
0         zeptimusq  167.782983
1         santigs67  167.782983
2        cranders71  167.782983
3       sembrestels  167.782983
4       ygganderson  167.782983
5          solsista  167.782983
6           akrtws   167.782983
7         iviangita  167.782983
8    jessicazartler  167.782983
9         juankbell  167.782983
10       griffgreen  167.782983
11          liviade  167.782983
12         mzargham  167.782983
13        naynaysoo  167.782983
14          tam2140  167.782983
15       jeffemmett  167.782983
16        paulo_c2d  167.782983
17           vegayp  167.782983
18            xgabi  167.782983
19  vitormarthendal  167.782983

In [109]:
default.head(20)

,Handle,Total Hours Deducted,Impact Hours,Paid Ratio,Unpaid Bonus Factor
0,zeptimusq,-167.792233,686.601440,0.244381,0.964521
1,santigs67,0.000000,621.789072,-0.000000,1.000000
2,ygganderson,-142.968565,502.691508,0.284406,0.958710
3,cranders71,10.380506,418.671961,-0.024794,1.003600
4,sembrestels,-844.384981,380.123299,2.221345,0.677503
5,solsista,21.287698,353.034515,-0.060299,1.008754
6,akrtws,19.835453,332.309293,-0.059690,1.008666
7,mzargham,88.368295,289.446628,-0.305301,1.044324
8,iviangita,-332.589495,265.214736,1.254039,0.817938
9,naynaysoo,-322.322136,251.147051,1.283400,0.813675
10,durgadasji,0.000000,223.666299,-0.000000,1.000000
11,metaverde,0.000000,210.205771,-0.000000,1.000000
12,juankbell,-646.363111,176.099120,3.670451,0.467121
13,mateodaza,-81.807933,174.616627,0.468500,0.931983
14,griffgreen,-892.347946,173.964135,5.129494,0.255296
15,jessicazartler,-596.421543,173.794575,3.431762,0.501774
16,freedumbs00,-355.543300,164.739140,2.158220,0.686668
17,trentmc0,51.516617,160.339432,-0.321297,1.046646
18,laurenluz,-152.700899,159.878412,0.955106,0.861337
19,lkngtn,29.411873,159.545456,-0.184348,1.026764

In [122]:
combined = default.merge(praisemageddon, left_on='Handle', right_on='Name', how='left')

In [126]:
combined.to_csv('outputs/ORIGINAL-IMPACT-HOURS.csv',index=False)

In [128]:
combined['Name']  = combined['Name'].fillna(combined['Handle'])

In [129]:
combined[combined.isna().any(axis=1)]

,Handle,Total Hours Deducted,Impact Hours,Paid Ratio,Unpaid Bonus Factor,Name,IH held
6,akrtws,19.835453,332.309293,-0.059690,1.008666,akrtws,NaN
31,simondlr,42.682392,113.053893,-0.377540,1.054812,simondlr,NaN
42,kristoferkristofer,-34.190000,87.068225,0.392681,0.942990,kristoferkristofer,NaN
459,elessar.eth#7945,0.000000,0.000000,NaN,NaN,elessar.eth#7945,NaN
460,ferdinandrg,0.000000,0.000000,NaN,NaN,ferdinandrg,2.002348

In [130]:
combined['praisemaggedon'] = combined['Unpaid Bonus Factor'] * combined['IH held']

In [131]:
combined['praisemaggedon'] = combined['praisemaggedon'] / combined['praisemaggedon'].sum()
combined.to_csv('outputs/PRAISEMAGGEDON.csv',index=False)

In [121]:
combined

,Name,Initial Distribution,Unpaid Bonus Factor,praisemaggedon,Final Distribution,Final Hours
7,mzargham,0.022432,1.044324,0.022174,0.022322,217.221732
19,lkngtn,0.012365,1.026764,0.021801,0.016907,164.533479
5,solsista,0.027360,1.008754,0.021419,0.024521,238.627286
3,cranders71,0.032447,1.003600,0.021309,0.027114,263.856992
1,santigs67,0.048189,1.000000,0.021233,0.035263,343.157695
...,...,...,...,...,...,...
6,akrtws,0.025754,1.008666,0.000253,0.013514,131.509684
31,simondlr,0.008762,1.054812,0.000253,0.004678,45.522432
42,kristoferkristofer,0.006748,0.942990,0.000253,0.003631,35.331412
459,elessar.eth#7945,0.000000,0.942990,0.000253,0.000122,1.185126
460,ferdinandrg,0.000000,0.942990,0.000253,0.000122,1.185126

In [115]:
combined['Initial Distribution'] = combined['Impact Hours'] / combined['Impact Hours'].sum()

In [116]:
combined = combined.sort_values('praisemaggedon', ascending=False)[['Name', 'Initial Distribution', 'Unpaid Bonus Factor', 'praisemaggedon']].ffill()

combined['Final Distribution'] = combined['Initial Distribution'] * 0.52 + combined['praisemaggedon'] * 0.48

In [117]:
magic_number = 9731.413

In [118]:
combined['Final Hours'] = combined['Final Distribution'] * magic_number

In [119]:
combined.sort_values('Final Distribution', ascending=False).head(20)#.to_csv('outputs/ALMOST-FINAL.csv',index=False)

,Name,Initial Distribution,Unpaid Bonus Factor,praisemaggedon,Final Distribution,Final Hours
0,zeptimusq,0.053212,0.964521,0.020505,0.037513,365.052414
1,santigs67,0.048189,1.000000,0.021260,0.035263,343.157695
2,ygganderson,0.038959,0.958710,0.020382,0.030042,292.349840
3,cranders71,0.032447,1.003600,0.021336,0.027114,263.856992
5,solsista,0.027360,1.008754,0.021446,0.024521,238.627286
7,mzargham,0.022432,1.044324,0.022202,0.022322,217.221732
4,sembrestels,0.029460,0.677503,0.014403,0.022233,216.355908
8,iviangita,0.020554,0.817938,0.017389,0.019035,185.237132
9,naynaysoo,0.019464,0.813675,0.017298,0.018425,179.296777
19,lkngtn,0.012365,1.026764,0.021829,0.016907,164.533479
22,xgabi,0.011519,0.982841,0.020895,0.016019,155.891884
18,laurenluz,0.012391,0.861337,0.018312,0.015233,148.236268
24,divine_comedian,0.010869,0.820730,0.017448,0.014027,136.505565
6,akrtws,0.025754,1.008666,0.000254,0.013514,131.509684
27,vyvy-vi#5040,0.009610,0.826271,0.017566,0.013429,130.684529
10,durgadasji,0.017334,1.000000,0.007871,0.012792,124.481237
26,vitormarthendal,0.009925,0.720274,0.015313,0.012511,121.751753
15,jessicazartler,0.013469,0.501774,0.010668,0.012124,117.987350
12,juankbell,0.013648,0.467121,0.009931,0.011864,115.449907
32,jeffemmett,0.008676,0.667705,0.014195,0.011325,110.212689

In [91]:
combined.sort_values('Final Distribution', ascending=False).to_csv('outputs/COMBINED-WINNING-PROPOSALS.csv')